/* General */
*{font-family: 'Work Sans', sans-serif;}
i {cursor: pointer;}

/* NavBar */
nav a{color:#145C81!important;text-decoration: none!important;font-weight: 600;}
nav a:hover{color:#0DA2DD!important;}
nav .active a{color:#0DA2DD!important;}

.cover-photo{background-image: url(../images/Cover-photo.jpg);background-size: cover;height: 50vh;width: 100%;
position: relative;}
.profile-picture{
    border: 2px solid #51b8f2;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: -100px;
    z-index: 2;
}
.emergency-info-container
{
    overflow-y: scroll;
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 15px;
    background-color: rgba(84,102,122,0.7);
    text-align: center;
    color: #fff;
    max-height: 80%;
    border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar {
  width: 10px;
}
.emergency-info-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
  border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar-thumb:hover {
  background: #54667a; 
}

.patient-data-container
{
    margin-top: 50px;
    width: 4000px;
    height: 500px;

    border: 0.5px #54667a solid;
}
.left-side-info
{
    
  
}
@media only screen and (max-width: 605px)
{
    
  .emergency-info-container
{
    overflow-y: scroll;
    position: absolute;
    right: 50px;
    bottom: 120px;
    padding: 15px;
    background-color: rgba(84,102,122,0.7);
    text-align: center;
    color: #fff;
    max-height: 50%;
    border-radius: 10px;
}  
}

/*Footer */
footer a{color:#145C81!important;text-decoration: none!important;font-weight: 600;}
footer a:hover{color:#0DA2DD!important;}
footer .active a{color:#0DA2DD!important;}
footer h4{font-weight: 600;}
footer span{font-weight: 400;}
footer i{font-size: 30px;margin-right: 10px}

/* items in footer */
footer .items {margin:20px 0;}
footer .items .d-flex,h4{margin-bottom: 20px;}
footer .items a{display: block;margin:20px 0;font-weight: 400;}

/* Social Icons */
.social-icons i {padding: 15px;}
.social-icons .fa-facebook-f {color:#3b5998!important;}
.social-icons .fa-twitter{color:#1da1f2!important;}
.social-icons .fa-google-plus-g {color:#db4437!important;}
.social-icons .fa-whatsapp {color:#25d366!important;}
.social-icons .fa-youtube {color:#ff0000!important;}
.social-icons i:hover{transition: 0.3s;opacity: 0.5;}

/* Copy Right */
.copyright{font-size: 20px;color:#0DA2DD!important;}
