.navbar-light {
    background-color: #51b8f2!important;
    color: #fff!important;
}

nav ul li {
    display: inline-block;
}

nav ul li input {
    border-radius: 20px;
    border: none;
    color: #54667a;
    text-align: center;
}

nav ul {
    margin: 0;
    margin-right: 30px;
}

nav ul li i {
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

nav ul li i:hover {
    color: #54667a;
}

.cover-photo {
    background-image: url(../images/Cover-photo.jpg);
    background-size: 100% 100%;
    height: 50vh;
    width: 100%;
    position: relative;
}

.profile-picture {
    border: 2px solid #51b8f2;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: -100px;
    z-index: 2;
}

.emergency-info-container {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 15px;
    background-color: rgba(84, 102, 122, 0.7);
    text-align: center;
    color: #fff;
    max-height: 80%;
}