.navbar-light{background-color: #51b8f2!important;color: #fff!important;}
nav ul li{display: inline-block;}
nav ul li input{border-radius: 20px;border:none;color:#54667a; text-align: center;}
nav ul{margin: 0;
margin-right: 30px;}
nav ul li i{color: #fff; padding: 10px; cursor: pointer;}
nav ul li i:hover{color: #54667a;}
.cover-photo{background-image: url(../images/Cover-photo.jpg);background-size: cover;height: 50vh;width: 100%;
position: relative;}
.profile-picture{
    border: 2px solid #51b8f2;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: -100px;
    z-index: 2;
}
.emergency-info-container
{
    overflow-y: scroll;
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 15px;
    background-color: rgba(84,102,122,0.7);
    text-align: center;
    color: #fff;
    max-height: 80%;
    border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar {
  width: 10px;
}
.emergency-info-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
  border-radius: 10px;
}
.emergency-info-container::-webkit-scrollbar-thumb:hover {
  background: #54667a; 
}

.patient-data-container
{
    margin-top: 50px;
    width: 4000px;
    height: 500px;

    border: 0.5px #54667a solid;
}
.left-side-info
{
    
  
}
@media only screen and (max-width: 605px)
{
    
  .emergency-info-container
{
    overflow-y: scroll;
    position: absolute;
    right: 50px;
    bottom: 120px;
    padding: 15px;
    background-color: rgba(84,102,122,0.7);
    text-align: center;
    color: #fff;
    max-height: 50%;
    border-radius: 10px;
}  
}