/* General */
*{font-family: 'Work Sans', sans-serif}
i {cursor: pointer;}

/* NavBar */
nav a{color:#145C81!important;text-decoration: none!important;font-weight: 600;}
nav a:hover{color:#0DA2DD!important;}
nav .active a{color:#0DA2DD!important;}

/* Patients */
.h1 {color: #145C81;}
.fa-edit {top: -2px;position: relative;}

/* table patients */
#sectiontable {width: 95%;}
#sectiontable i:hover{color: #0DA2DD;}
#sectiontable i{color: #145C81;}
#table thead{border-bottom: 1px solid;border-color: #0DA2DD}
#table th{padding:10px;}
#table td{padding: 10px;}
#table {overflow: auto;height: 450px;}

/* Patient Fourm*/
#addPatient{display: none;}
#removePatient{display: none;}
#editPatient{display: none;}

/* Over Lay */
.overlay{position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0, 0, 0, 0.5);display:flex;align-items:center;justify-content:center;z-index: 2500}

/* info All */
.infoa,.infor,.infoe{overflow: auto;background-color: aliceblue;border-radius: 20px;position:fixed;top:10%;bottom:0;left:25%;right: 0;z-index: 2501}

/* Info  Add Patient*/
.infoa{width:50%;height: 80%;}

/* Info  remove Patient */
.infor{width:50%;height: 30%;}

/* Info  edit Patient */
.infoe{width:50%;height: 80%;}

/* Labels */
label {margin-top: 10px;}

/*Footer */
footer a{color:#145C81!important;text-decoration: none!important;font-weight: 600;}
footer a:hover{color:#0DA2DD!important;}
footer .active a{color:#0DA2DD!important;}
footer h4{font-weight: 600;}
footer span{font-weight: 400;}
footer i{font-size: 30px;margin-right: 10px}

/* items in footer */
footer .items {margin:20px 0;}
footer .items .d-flex,h4{margin-bottom: 20px;}
footer .items a{display: block;margin:20px 0;font-weight: 400;}

/* Social Icons */
.social-icons i {padding: 15px;}
.social-icons .fa-facebook-f {color:#3b5998!important;}
.social-icons .fa-twitter{color:#1da1f2!important;}
.social-icons .fa-google-plus-g {color:#db4437!important;}
.social-icons .fa-whatsapp {color:#25d366!important;}
.social-icons .fa-youtube {color:#ff0000!important;}
.social-icons i:hover{transition: 0.3s;opacity: 0.5;}

/* Copy Right */
.copyright{font-size: 20px;color:#0DA2DD!important;}

