.navbar-light{background-color: #51b8f2!important;color:fff!important;}
nav ul li {display:inline-block;}
nav ul li input{border-radius: 20px;border:none;color:#54667a; text-align: center;}
nav ul{margin: 0;margin-right: 30px;}
nav ul li i{color: #fff; padding: 10px; cursor: pointer;}
nav ul li i:hover{color: #54667a;}
.h1 {color: 51b8f2}
.fa-edit {top: -2px;position: relative;}
.hr{
    width: 75%;
    height: 1px;
    margin: auto;
    background-color: #51b8f2;
}
#tableHead i:hover{color: #51b8f2;}
#tableHead i{color: #54667a;}